.no-js #loader {
            display: none;
        }

        .js #loader {
            display: block;
            position: absolute;
            left: 100px;
            top: 0;
        }

        .se-pre-con {
            position: fixed;
            left: 0 !important;
            top: 0 !important;
            bottom: 0 !important;
            right: 0 !important;
            background: #000;
            opacity: 0.8;
            filter: alpha(opacity=80);
            z-index: 1000;
            text-align: center !important;
            vertical-align: middle !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .loadtext {
            color: #FFF;
            font-size: xx-large;
        }